{include file="_header.inc.tpl.html"}
<div class="container">
	<div class="row my-2">
		<div class="col-12">
			<a href="/novo" class="btn btn-sm btn-dark">Criar novo</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table table-condensed table-striped">
				<thead>
					<tr class="bg-dark text-light">
						<th>#ID</th>
						<th>Nome</th>
						<th>Criado em</th>
						<th>Situação</th>
						<th class="text-end">Ações</th>
					</tr>
				</thead>
				<tbody>
					{foreach $users as $u}
					{strip}
					<tr>
						<td>
							{$u['id']}
						</td>
						<td>
							{$u['name']}
						</td>
						<td>
							{date('d/m/Y', strtotime($u['created_at']))}
						</td>
						<td>
							{if $u['deleted']}
							<i class="text-danger">Excluído</i>
							{else}
							<i class="text-success">Ativo</i>
							{/if}
						</td>
						<td class="text-end">
							<a href="/editar/{$u['id']}" class="btn btn-sm btn-info me-1">EDIT</a>
							<a href="/remove/{$u['id']}" class="btn btn-sm btn-danger">DEL</a>
						</td>
					</tr>
					{/strip}
					{/foreach}
				</tbody>
			</table>
		</div>
	</div>
</div>
{include file="_footer.inc.tpl.html"}